<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Appointment History</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<link
	href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css"
	rel="stylesheet">

<script
	src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
</head>

<body>
	<div id="message_bar" class="text-center"></div>

	<header id="header" style="z-index: 9000;">
		<p class="pt-1 pl-3 mb-0" style="float: left; font-size: x-large;">
			Patient</p>
		<nav class="links" style="--items: 4;">
			<a th:href="@{/patient}">Profile</a> <a th:href="@{/medicalRecord}">Medical
				Record</a> <a class="selected" th:href="@{/appointmentHistory}">Appointment
				History</a> <a
				th:href="@{/makeAppointment}">Make An Appointment</a> <a
				th:href="@{/}" class="my_logout"></span></a>
		</nav>
	</header>


	<div class="container" style="margin-top: 85px;">
		<div class="jumbotron bg-light">
			<h1 class="mb-4 col-md-10 fl-left">Appointment History</h1>
			<div class="input-group mb-3 col-sm-10 pr-0">
				<input type="text" id="myInput" class="form-control"
					placeholder="Search appointments..." aria-label="Appointments"
					aria-describedby="basic-addon2" onkeyup="searchAppointments()">
			</div>

			<table data-toggle="table" class="table table-hover mt-4 pt-4"
				id="myTable">
				<thead>
					<tr>
						<th  data-field="dateAndTime">Date And
							Time</th>
						<th data-field="appointmentType">Appointment
							Type</th>
						<th  data-field="clinic">Clinic</th>
						<th data-field="clinic">Doctor</th>
						<th data-field="approved">Approved</th>
						<th data-field="held">Held</th>
						<th data-field="rate">Rate</th>
					</tr>
				</thead>
				<tbody id="appointmentHistoryBody">

				</tbody>
			</table>
		</div>
	</div>

	<!-- Modal -->

	<div class="modal hide fade" id="exampleModal" role="dialog">
		<div class="modal-dialog" role="document" style="margin-top: 100px;">
			<div class="modal-content">
				<div class="modal-body">
					<div class="card text-center">
						<div class="card-header">
							<i class="fa fa-star"></i>

						</div>
						<div id="message_bar2" class="text-center"></div>
						<div class="card-body">
							<form id="filterForm">
								<div class="form-group row ">

									<label id="rateDoctor"></label> <select class="form-control"
										id="doctorGrade">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
									</select>
								</div>
								<div class="col text-center">
									<button type="button" class="btn btn-success"
										id="rateDoctorBtn">Rate doctor</button>
								</div>
								<div class="form-group row">
									<label id="rateClinic"></label> <select class="form-control"
										id="clinicGrade">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
									</select>
								</div>

								<div class="col text-center">
									<button type="button" class="btn btn-success"
										id="rateClinicBtn">Rate clinic</button>
								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<script type="application/javascript" th:src="@{js/jquery-3.4.1.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script type="application/javascript"
		th:src="@{js/appointmentHistory.js}"></script>
</body>

</html>