<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Clinic administrator</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/styleTable.css">
<link rel="stylesheet" href="/css/style.css">

<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

	<header id="header" style="z-index: 9000;">
		<p class="pt-1 pl-3 mb-0" style="float: left; font-size: x-large;"> <!-- naziv klinike --> KKKK</p>
		<nav class="links mt-2 pr-2" style="--items: 0;">
			<a th:href="@{/}" class="my_logout"></a>
		</nav>
	</header>


	<div class="container" style="margin-top: 85px;">
		<div class="jumbotron bg-light">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item"><a class="nav-link active"
					id="profile-tab" data-toggle="tab" href="#profileInfo" role="tab"
					aria-controls="home" aria-selected="true">Clinic info</a></li>
				<li class="nav-item"><a class="nav-link"
					id="appointments-tab" data-toggle="tab" href="#appointments"
					role="tab" aria-controls="home" aria-selected="true">Appointments</a></li>
				<li class="nav-item"><a class="nav-link" id="rooms-tab"
					data-toggle="tab" href="#rooms" role="tab" aria-controls="profile"
					aria-selected="false">Rooms</a></li>
				<li class="nav-item"><a class="nav-link" id="price-tab"
					data-toggle="tab" href="#price" role="tab" aria-controls="contact"
					aria-selected="false">Price-list</a></li>
				<li class="nav-item"><a class="nav-link" id="doctor-tab"
					data-toggle="tab" href="#doctor" role="tab" aria-controls="contact"
					aria-selected="false">Doctors</a></li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="profileInfo"
					role="tabpanel" aria-labelledby="profile-tab">
					<br>
					<form id="clinicProfileForm">
						<div class="col-xs-12 col-sm-12 pl-0 pt-1 pr-0">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-default"
										style="width: 150px;">Clinic name</span>
								</div>
								<input type="text" class="form-control" aria-label="Name"
									id="name" aria-describedby="inputGroup-sizing-default"
									readonly>
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-default"
										style="width: 150px;">Address</span>
								</div>
								<input type="text" class="form-control" aria-label="Address"
									id="clinicAddress" aria-describedby="inputGroup-sizing-default"
									readonly>
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-default"
										style="width: 150px;">Description</span>
								</div>
								<input type="text" class="form-control" aria-label="Description"
									id="desc" aria-describedby="inputGroup-sizing-default" readonly>
							</div>
						</div>
					</form>
				</div>
				<div class="tab-pane fade" id="appointments"
					role="tabpanel" aria-labelledby="appointments-tab">
					<h1 class="mb-0 col-md-9 fl-left" style="z-index: 0;">Appointments</h1>

					<div class="mt-5">
						<div class="row pt-5 pb-3 mr-0">
							<div class="col-md-12 pr-0 text-right">
								<button type="button" class="btn btn-info add-new">
									<i class="fa fa-plus"></i> Add New
								</button>
							</div>
						</div>
						<table class="table table-bordered" id="myTable">
							<thead>
								<tr>
									<th>Date and time</th>
									<th>Appointment type</th>
									<th>Room</th>
									<th>Doctor</th>
									<th>Duration</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody id="appointmentsBody">

							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-pane fade" id="rooms" role="tabpanel"
					aria-labelledby="rooms-tab">
					<h1 class="mb-0 col-md-9 fl-left" style="z-index: 0;">OR/ER</h1>

					<div class="mt-5">
						<div class="row pt-5 pb-3 mr-0 ml-0 w-100">
							<div class="input-group mb-3 ml-0 pl-0 col-md-10 pr-0">
								<input type="text" id="roomInput" class="form-control"
									placeholder="Search ORs/ERs..." aria-label="Medication"
									aria-describedby="basic-addon2" onkeyup="roomFunction()">
							</div>
							<div class="col-sm-2 text-right pr-0">
								<button type="button" class="btn btn-info add-new">
									<i class="fa fa-plus"></i> Add New
								</button>
							</div>
						</div>
						<table class="table table-bordered" id="roomTable">
							<thead>
								<tr>
									<th>Room name</th>
									<th>Room type</th>
									<th>Appointments</th>
									<th>&nbsp</th>
								</tr>
							</thead>
							<tbody id="roomsBody">
							</tbody>
						</table>

					</div>
				</div>
				<div class="tab-pane fade" id="price" role="tabpanel"
					aria-labelledby="price-tab">
					<h1 class="mb-0 col-md-9 fl-left" style="z-index: 0;">Price
						list</h1>

					<div class="mt-5">
						<div class="row pt-5 pb-1 mr-0 w-100 ml-0">
							<div class="input-group mb-3 col-md-10 pr-0 pl-0">
								<input type="text" id="pricelistInput" class="form-control"
									placeholder="Search pricelist items..." aria-label="Medication"
									aria-describedby="basic-addon2" onkeyup="pricelistFunction()">
							</div>
							<div class="col-sm-2 text-right pr-0">
								<button type="button" class="btn btn-info add-new">
									<i class="fa fa-plus"></i> Add New
								</button>
							</div>
						</div>
						<table class="table table-bordered" id="pricelistTable">
							<thead>
								<tr>
									<th>Appointment type</th>
									<th>Price</th>
									<th>&nbsp</th>
								</tr>
							</thead>
							<tbody id="pricelistBody">

							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-pane fade mt-5" id="doctor" role="tabpanel"
					aria-labelledby="doctor-tab">
					<h1 class="mb-5">Doctors</h1>
					<table class="table table-hover mt-4 pt-4" id="usersTable">
						<tbody id="doctorBody">

						</tbody>
					</table>
				</div>

			</div>
		</div>

	</div>


	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<table class="table table-bordered" id="appointmentTable">
						<thead>
							<tr>
								<th>Date</th>
								<th>Duration</th>
								<th>Doctor</th>
								<th>Patient</th>
							</tr>
						</thead>
						<tbody id="modalAppointmentsBody">

						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


	<script type="application/javascript" th:src="@{js/jquery-3.4.1.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script type="application/javascript" th:src="@{js/clinicAdmin.js}"></script>
	<script type="application/javascript" th:src="@{js/clinicPage.js}"></script>
	<script type="application/javascript" th:src="@{js/doctors.js}"></script>
	<script type="application/javascript" th:src="@{js/rooms.js}"></script>
	<script type="application/javascript"
		th:src="@{js/predefinedAppointments.js}"></script>
	<script type="application/javascript" th:src="@{js/pricelist.js}"></script>
</body>

</html>