<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Clinical center administrator</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
	<div id="message_bar" class="text-center">message</div>
	<header id="header">
	</header>
	

	<div class="container" style="margin-top: 85px;">
		<div class="jumbotron bg-light w-50" style="margin-left: 25%;">
			<h1 class="mb-4 pb-4">Please change your password</h1>
			<hr>
			<div class="input-group mb-3 w-100">
			  <div class="input-group-prepend" style="width: 30%;">
			    <span class="input-group-text w_available" id="inputGroup-sizing-default">New password</span>
			  </div> 
			  <input type="password" id="password" class="form-control" aria-label="Password" aria-describedby="inputGroup-sizing-default">
			</div>
			<div class="input-group mb-3 w-100">
			  <div class="input-group-prepend" style="width: 30%;">
			    <span class="input-group-text w_available" id="inputGroup-sizing-default">Repeat password</span>
			  </div>
			  <input type="password" id="repeatPassword" class="form-control" aria-label="Repeat password" aria-describedby="inputGroup-sizing-default">
			</div>
			<button type="button" id="btnSubmit" class="btn btn-primary btn-lg btn-block mt-5">Submit</button>
	</div>

	<script type="application/javascript" th:src="@{js/jquery-3.4.1.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script type="application/javascript" th:src="@{js/clinicalCenterAdminInitial.js}"></script>

</body>

</html>