<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css">
	
</head>
<body>
	<div id="message_bar" class="text-center">message</div>
	<div class="col-md-12 fl-left" style="height: 90px;"></div>
	<div class="col-md-5 fl-left" style="height: 500px;"></div>
	<div class="form-structor col-md-4 fl-left" style="margin-left: -50px;">
		
		<div class="signup">
			<h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
			<div class="form-holder mb-4">
				<input type="text" class="input form-control" id="firstNameSignUp" placeholder="First name" required />
				<input type="text" class="input form-control" id="lastNameSignUp" placeholder="Last name" required />
				<input type="text" class="input form-control" id="citySignUp" placeholder="City" required />
				<input type="text" class="input form-control" id="countrySignUp" placeholder="Country" required />
				<input type="text" class="input form-control" id="addressSignUp" placeholder="Address" required />
				<input type="text" class="input form-control" id="insNumberSignUp" placeholder="Insurance number" required />
				<input type="text" class="input form-control" id="phoneSignUp" placeholder="Phone number" required />
				<input type="email" class="input form-control" id="emailSignUp" placeholder="Email" required />
				<input type="password" class="input form-control" id="passSignUp" placeholder="Password" required />
				<input type="password" class="input form-control" id="passRepeatSignUp" placeholder="Repeat password" required />
			</div>
			<button class="submit-btn" id="signUpBtn">Sign up</button>
		</div>
		
		<div class="login slide-up">
			<div class="center">
				<h2 class="form-title" id="login"><span>or</span>Log in</h2>
				<div class="form-holder">
					<input type="email" id="emailInput" class="input form-control" placeholder="Email" required/>
					<input type="password" id="passInput" class="input form-control" placeholder="Password" required/>
				</div>
				<button class="submit-btn" id="loginBtn">Log in</button>
			</div>
		</div>
	</div>
	
	<script type="application/javascript" th:src="@{js/jquery-3.4.1.js}"></script>
	<script type="application/javascript" th:src="@{js/login.js}"></script>
</body>
</html>