<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="col-md-12 fl-left" style="height: 90px;"></div>
	<div class="col-md-5 fl-left" style="height: 500px;"></div>
	<div class="form-structor col-md-4 fl-left" style="margin-left: -50px;">
		<div class="signup">
			<h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
			<div class="form-holder">
				<input type="text" class="input" placeholder="Name" />
				<input type="email" class="input" placeholder="Email" />
				<input type="password" class="input" placeholder="Password" />
			</div>
			<button class="submit-btn">Sign up</button>
		</div>
		<div class="login slide-up">
			<div class="center">
				<h2 class="form-title" id="login"><span>or</span>Log in</h2>
				<div class="form-holder">
					<input type="email" class="input" placeholder="Email" />
					<input type="password" class="input" placeholder="Password" />
				</div>
				<button class="submit-btn">Log in</button>
			</div>
		</div>
	</div>

	<script type="application/javascript" th:src="@{js/login.js}"></script>
</body>
</html>