<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div style="padding-top: 17%; font-size: 40px;">
		<div class="text-center">
			<a href="doctor.html" class="badge badge-primary">Add doctor</a>
		</div>
		<div class="text-center">
			<a href="nurse.html" class="badge badge-secondary">Add nurse</a>
		</div>
		<div class="text-center">
			<a href="patient.html" class="badge badge-success">Add patient</a>
		</div>
	</div>
</body>
</html>