<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Clinic administrator</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>


	<header id="header">
		<p class="pt-1 pl-3 mb-0" style="float: left; font-size: x-large;">Clinic
			administrator</p>
		<nav class="links" style="--items: 5;">
			<a th:href="@{/clinicAdmin}">Profile</a> <a
				th:href="@{/clinicPage}">Clinic</a> <a th:href="@{/businessReports}">Business
				reports</a> <a class="selected" th:href="@{/leaveRequestAdmin}">Leave requests</a> <a th:href="@{clinicAppointmentRequests}">Appointment Requests</a><a th:href="@{/}" class="my_logout"></a>
		</nav>
	</header>


	<div class="container" style="margin-top: 85px;">
		<div class="jumbotron bg-light">
			<h1 class="mb-4">Leave Requests</h1>
			<table class="table table-hover mt-4 pt-4" id="usersTable">
				<tbody id="leaveReqBody">
					<!-- Dinamicly filled! -->
				</tbody>
			</table>

		</div>

	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="card text-center">
						<div class="card-header">Request information</div>
						<div class="card-body">
							<ul class="list-group">
								<li
									class="list-group-item d-flex justify-content-between align-items-center">
									Name <i><p id="modalName" class="mb-0"></p></i>
								</li>
								<li
									class="list-group-item d-flex justify-content-between align-items-center">
									Email <i><p id="modalEmail" class="mb-0"></p></i>
								</li>
								<li
									class="list-group-item d-flex justify-content-between align-items-center">
									Date from <i><p id="modalDateFrom" class="mb-0"></p></i>
								</li>
								<li
									class="list-group-item d-flex justify-content-between align-items-center">
									Date to <i><p id="modalDateTo" class="mb-0"></p></i>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Decline Modal -->
	<div class="modal fade" id="declineModal" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="card text-center">
						<div class="card-header">Decline reason</div>
						<div class="card-body">
							<ul class="list-group">
								<li
									class="list-group-item d-flex justify-content-between align-items-center">
									Name <i><p id="modalDecName" class="mb-0"></p></i>
								</li>
								<li
									class="list-group-item d-flex justify-content-between align-items-center">
									Date from <i><p id="modalDecFrom" class="mb-0"></p></i>
								</li>
								<li
									class="list-group-item d-flex justify-content-between align-items-center">
									Date to <i><p id="modalDecTo" class="mb-0"></p></i>
								</li>
								<li
									class="list-group-item d-flex justify-content-between align-items-center">
									<textarea rows="5" id="reasonArea" class="w-100"
										style="resize: none;"></textarea>
								</li>
							</ul>
							<p style="display: none" id="transfer"></p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" id="declineFinal" class="btn btn-secondary"
						data-dismiss="modal">Finish</button>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<script type="application/javascript" th:src="@{js/jquery-3.4.1.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script type="application/javascript" th:src="@{js/leaveRequestAdmin.js}"></script>
</body>

</html>