<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Nurse</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div style="padding-top: 8%;">
<div class="col-md-3" style="float: left; height: 500px;"></div>
<div class="col-md-6" style="float: left;">
	<form id="nurse_add_form">
	  <div class="form-row">
	    <div class="form-group col-md-6">
	      <label for="inputEmail4">Email</label>
	      <input type="email" class="form-control" id="email">
	    </div>
	    <div class="form-group col-md-6">
	      <label for="inputPassword4">Password</label>
	      <input type="password" class="form-control" id="password">
	    </div>
	  </div>
	  <div class="form-row">
	    <div class="form-group col-md-6">
	      <label for="inputEmail4">First name</label>
	      <input type="text" class="form-control" id="firstName">
	    </div>
	    <div class="form-group col-md-6">
	      <label for="inputPassword4">Last name</label>
	      <input type="text" class="form-control" id="lastName">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputAddress">Address</label>
	    <input type="text" class="form-control" id="address" placeholder="1234 Main Streat">
	  </div>
	  <div class="form-group">
	    <label for="inputAddress2">Phone number</label>
	    <input type="number" class="form-control" id="phone" placeholder="Phone number..">
	  </div>
	  <div class="form-row">
	    <div class="form-group col-md-6">
	      <label for="inputCity">City</label>
	      <input type="text" class="form-control" id="city">
	    </div>
	    <div class="form-group col-md-6">
	      <label for="inputState">State</label>
	      <input type="text" class="form-control" id="state">
	    </div>
	    
	  </div>
	  <div class="form-row">
	    <div class="form-group col-md-12">
	      <label for="inputZip">Insurance number</label>
	      <input type="text" class="form-control" id="insurance">
	    </div>
	  </div>
	  <div class="form-row">
	  	<div class="col-md-5"></div>
	  	<div class="col-md-2"><button type="submit" class="btn btn-primary">Submit</button></div>
	  	<div class="col-md-5"></div>
	  </div>
	</form>
</div>
<div class="col-md-3" style="float: left;"></div>
</div>

	<script type="application/javascript" th:src="@{js/jquery-3.4.1.js}"></script>
	<script type="application/javascript" th:src="@{js/nurse.js}"></script>
</body>
</html>