<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Patient</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
  <script type="text/javascript">
    function modalShow() {
      $("#exampleModal").modal();
    }
  </script>

  <header id="header">
    <p class="pt-1 pl-3 mb-0" style="float: left;font-size: x-large;">
      Patient
    </p>
    <nav class="links" style="--items: 4;">
      <a class="selected" href="#">Profile</a>
      <a th:href="@{/medicalRecord}">Medical Record</a>
      <a th:href="@{/appointmentHistory}">Appointment History</a>
      <a th:href="@{/patientsClinics}">Clinics</a>
    </nav>
  </header>
  <div class="container" style="margin-top: 85px;">
    <div class="jumbotron bg-light">
	<h1 class="mb-4">Patient</h1>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="pill" href="#patient">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " data-toggle="pill" href="#editPatientProfile">Edit Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#changePassword">Change Password</a>
        </li>
      </ul>



      <div class="tab-content">

        <div class="tab-pane active" id="patient">
          <br>
          <form id="patientProfileForm">
            <div class="col-xs-12 col-sm-8">
              <ul class="list-group">
                <li class="list-group-item">John Doe</li>
                <li class="list-group-item">Country</li>
                <li class="list-group-item">City</li>
                <li class="list-group-item">Address</li>
                <li class="list-group-item">LBO</li>
                <li class="list-group-item"><i class="fa fa-phone"></i> 000-000-0000 </li>
                <li class="list-group-item"><i class="fa fa-envelope"></i> john@example.com</li>
              </ul>
            </div>
          </form>
        </div>

        <div class="tab-pane" id="editPatientProfile">
          
            
              <form id="patientEditForm">
                <div>
                  <div class="form-group">
                    <label>First name</label>
                    <input type="text" class="form-control" id="inputFirstName">
                  </div>
                  <div class="form-group">
                    <label>Last name</label>
                    <input type="text" class="form-control" id="inputLastName">
                  </div>
                  <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" id="patientEmail" readonly>
                  </div>
                  <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" id="inputAddress">
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputCity1">City</label>
                      <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputCountry1">Country</label>
                      <input type="text" class="form-control" id="inputCountry">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPhoneNumber1">Phone number</label>
                    <input type="text" class="form-control" id="inputPhoneNumber">
                  </div>
                  <div class="form-group">
                    <label for="inputInsuranceNumber1">Insurance number</label>
                    <input type="text" class="form-control" id="inputInsuranceNumber" readonly>
                  </div>

                </div>
                <button type="submit" class="btn btn-primary">Save</button>
              </form>
            
          
          <div class="col-md-3" style="float: left;"></div>
        </div>


        <div class="tab-pane" id="changePassword">
          <form id="patientEditForm">
            <div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" id="oldPassword">
              </div>
              <div class="form-group">
                <label>New Password</label>
                <input type="password" class="form-control" id="newPassword">
              </div>
              <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" id="confirmedNewPassword">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Change</button>
          </form>
        </div>
      </div>

    </div>
    
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script type="application/javascript" th:src="@{js/patient.js}"></script>
</body>

</html>