<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Patient</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/style.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
	<div id="message_bar" class="text-center" vertical-align="top">message</div>

	<header id="header" style="z-index: 9000;">
		<p class="pt-1 pl-3 mb-0" style="float: left; font-size: x-large;">
			Patient</p>
		<nav class="links" style="--items: 4;">
			<a class="selected" th:href="@{/patient}">Profile</a> <a
				th:href="@{/medicalRecord}">Medical Record</a> <a
				th:href="@{/appointmentHistory}">Appointment History</a> <a
				th:href="@{/makeAppointment}">Make An Appointment</a> <a
				th:href="@{/}" class="my_logout"></span></a>
		</nav>
	</header>
	<div class="container" style="margin-top: 85px;">
		<div class="jumbotron bg-light">
			<h1 class="mb-4" id="patientFullName"></h1>
			<ul class="nav nav-pills pt-3" id="myTab">
				<li class="nav-item" id="about"><a class="nav-link active"
					data-toggle="pill" href="#patient">About</a></li>
				<li class="nav-item" id="editProfile"><a class="nav-link "
					data-toggle="pill" href="#editPatientProfile">Edit Profile</a></li>
				<li class="nav-item"><a class="nav-link" data-toggle="pill"
					href="#changePasswordTab">Change Password</a></li>
			</ul>



			<div class="tab-content">

				<div class="tab-pane active" id="patient">
					<br>
					<form id="patientProfileForm">
						<div class="col-xs-12 col-sm-12 pl-0 pt-1 pr-0">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-default"
										style="width: 150px;">Name</span>
								</div>
								<input type="text" class="form-control" aria-label="Name"
									id="fullName" aria-describedby="inputGroup-sizing-default"
									readonly>
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-default"
										style="width: 150px;">Country</span>
								</div>
								<input type="text" class="form-control" aria-label="Country"
									id="country" aria-describedby="inputGroup-sizing-default"
									readonly>
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-default"
										style="width: 150px;">City</span>
								</div>
								<input type="text" class="form-control" aria-label="City"
									id="city" aria-describedby="inputGroup-sizing-default" readonly>
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-default"
										style="width: 150px;">Address</span>
								</div>
								<input type="text" class="form-control" aria-label="Address"
									id="address" aria-describedby="inputGroup-sizing-default"
									readonly>
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-default"
										style="width: 150px;">Phone number</span>
								</div>
								<input type="text" class="form-control"
									aria-label="Phone number" id="phoneNumber"
									aria-describedby="inputGroup-sizing-default" readonly>
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-default"
										style="width: 150px;">Insurance number</span>
								</div>
								<input type="text" class="form-control"
									aria-label="Insurance number" id="insNumber"
									aria-describedby="inputGroup-sizing-default" readonly>
							</div>
						</div>
					</form>
				</div>

				<div class="tab-pane" id="editPatientProfile">


					<form id="patientEditForm">
						<div class="col-xs-12 col-sm-12 pl-0 pt-4 pr-0">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-default"
										style="width: 150px;">First Name</span>
								</div>
								<input type="text" style="background-color: white;"
									class="form-control" aria-label="FirstName" id="editFirstName"
									aria-describedby="inputGroup-sizing-default">
								<div class="invalid-feedback">First Name can not be empty.</div>
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-default"
										style="width: 150px;">Last Name</span>
								</div>
								<input type="text" style="background-color: white;"
									class="form-control" aria-label="LastName" id="editLastName"
									aria-describedby="inputGroup-sizing-default">
								<div class="invalid-feedback">Last Name can not be empty.</div>
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-default"
										style="width: 150px;">Country</span>
								</div>
								<input type="text" style="background-color: white;"
									class="form-control" aria-label="Country" id="editCountry"
									aria-describedby="inputGroup-sizing-default">
								<div class="invalid-feedback">Country can not be empty.</div>
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-default"
										style="width: 150px;">City</span>
								</div>
								<input type="text" style="background-color: white;"
									class="form-control" aria-label="City" id="editCity"
									aria-describedby="inputGroup-sizing-default">
								<div class="invalid-feedback">City can not be empty.</div>
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-default"
										style="width: 150px;">Address</span>
								</div>
								<input type="text" style="background-color: white;"
									class="form-control" aria-label="Address" id="editAddress"
									aria-describedby="inputGroup-sizing-default">
								<div class="invalid-feedback">Address can not be empty.</div>
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-default"
										style="width: 150px;">Phone number</span>
								</div>
								<input type="text" style="background-color: white;"
									class="form-control" aria-label="Phone number"
									id="editPhoneNumber"
									aria-describedby="inputGroup-sizing-default">
								<div class="invalid-feedback">Phone number can not be
									empty.</div>
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-default"
										style="width: 150px;">Insurance number</span>
								</div>
								<input type="text" class="form-control"
									aria-label="Insurance number" id="editInsNumber"
									aria-describedby="inputGroup-sizing-default" readonly>
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-default"
										style="width: 150px;">Email</span>
								</div>
								<input type="text" class="form-control" aria-label="Email"
									id="editEmail" aria-describedby="inputGroup-sizing-default"
									readonly>
							</div>
						</div>
						<div class="text-right">
							<button style="width: 15%" ; type="submit" id="savePatient"
								class="btn btn-primary">Save</button>
						</div>
					</form>


					<div class="col-md-3" style="float: left;"></div>
				</div>


				<div class="tab-pane" id="changePasswordTab">
					<form id="patientEditPasswordForm">
						<div class="pt-3">
							<div class="form-group">
								<label>Password</label> <input type="password"
									class="form-control" id="oldPassword">
								<div class="invalid-feedback">Wrong password.</div>
							</div>
							<div class="form-group">
								<label>New Password</label> <input type="password"
									class="form-control" id="newPassword">
							</div>
							<div class="form-group">
								<label>Confirm Password</label> <input type="password"
									class="form-control" id="confirmedPassword">
								<div class="invalid-feedback">Please make sure your
									passwords match.</div>
							</div>
						</div>
						<button type="submit" class="btn btn-primary" id="changePassword">Change</button>
					</form>
				</div>
			</div>

		</div>

	</div>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<script type="application/javascript" th:src="@{js/jquery-3.4.1.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script type="application/javascript" th:src="@{js/patient.js}"></script>
</body>

</html>