<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Clinic administrator</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/styleTable.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>
	<script type="text/javascript">

</script>
	<header id="header">
		<p class="pt-1 pl-3 mb-0" style="float: left; font-size: x-large;">Clinic
			administrator</p>
		<nav class="links" style="--items: 6;">
			<a th:href="@{/clinicAdmin}">Profile</a> <a
				th:href="@{/predefinedAppointments}">Appointments</a> <a
				th:href="@{/businessReports}">Business reports</a> <a
				th:href="@{/rooms}">OR/ER management</a> <a class="selected"
				th:href="@{/pricelist}">Price list</a> <a th:href="@{/doctors}">Doctors</a>
			<a th:href="@{/}" class="my_logout"></a>
		</nav>
	</header>


	<div class="container" style="margin-top: 85px;">
		<div class="jumbotron bg-light">
			<h1 class="mb-0 col-md-9 fl-left" style="z-index: 0;">Price list</h1>

			<div class="mt-5">
				<div class="row pt-5 pb-1 mr-0">
					<div class="input-group mb-3 col-sm-10 pr-0">
						<input type="text" id="myInput" class="form-control"
							placeholder="Search pricelist items..." aria-label="Medication"
							aria-describedby="basic-addon2" onkeyup="myFunction()">
					</div>
					<div class="col-sm-2 text-right pr-0">
						<button type="button" class="btn btn-info add-new">
							<i class="fa fa-plus"></i> Add New
						</button>
					</div>
				</div>
				<table class="table table-bordered" id="myTable">
					<thead>
						<tr>
							<th>Appointment type</th>
							<th>Price</th>
							<th>&nbsp</th>
						</tr>
					</thead>
					<tbody id="pricelistBody">

					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<script type="application/javascript" th:src="@{js/jquery-3.4.1.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script type="application/javascript" th:src="@{js/pricelist.js}"></script>
</body>

</html>